.App {
  text-align: center;
}

.App2 {
  text-align: center;
  font-size: calc(6px + 2vmin);
  color: white
}

.App3 {
  text-align: center;
  font-size: calc(8px + 2vmin);
  color: white
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-proto {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo2 {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ProtoHeader {
  text-align: center;
  font-size: calc(8px + 2vmin);
  color: white
}

.ProtoImg {
  height: 20vmin;
  pointer-events: none;
}

.ProtoImg2 {
  height: 40vmin;
  pointer-events: none;
}

.ProtoCap {
  text-align: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.MintList {
  text-align: left;
  font-size: calc(8px + 2vmin);
  color: white;
}

.MintList1 li {
  display: block;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

.MintList1 ul li {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

.MintList1 ul li ul li{
  display: block;
  text-align: left;
  margin: 0;
  padding: 2px;
  font-size: calc(5px + 2vmin);
}

.ProtoList {
  text-align: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.ProtoList1 li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.ProtoList1 ul li {
  display: block;
  padding: 0px;
  font-size: calc(5px + 2vmin);
  text-align: left;
}

ul.ProtoImg li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

ul.Navigation li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

